.DS_Store
Thumbs.db

.env
.env.*
!.env.example

node_modules/
dist/
build/
coverage/

checks/
uploads/

assets/Demo/2526_ImpensJ_EQTY-Demo.mp4
assets/Demo/2526_IDL5FP_Demo.mp4

*.log
*.tmp
*.swp

.vscode/
.idea/
